<% content_for(:title) { "#{t("administrate.actions.show")} #{page.page_title}" } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to("New #{page.resource_name.titleize.downcase}", [:new, namespace, page.resource_path], :class => "button") if valid_action? :new %>
    <%= link_to("Edit #{page.page_title}", [:edit, namespace, page.resource], class: "button" ) if can? :edit, page.resource %>
  </div>
</header>

<section class="main-content__body" id="main_content">
  <%= render "admin/application/showcontent", :page => page  %>
</section>
