.cell-label {
  position: relative;

  &:hover {
    a {
      color: $action-color;
    }

    svg, .material-icons {
      fill: $action-color;
      transform: rotate(180deg);
    }
  }

  a {
    color: inherit;
    display: inline-block;
    transition: color $base-duration $base-timing;
    width: 100%;
    text-decoration: none;
    outline: none;
    &:focus, &:active {
      text-decoration: none;
      outline: none;
    }
  }
}

.cell-label--asc,
.cell-label--desc {
  font-weight: $bold-font-weight;
}

.cell-label__sort-indicator {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  right: 0;

  svg {
    fill: $hint-grey;
    height: 13px;
    transition: transform $base-duration $base-timing;
    width: 13px;
  }
  &.mat_cell_label {
    font-size: 24px;
    line-height: 24px;
  }
}

.cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

.cell-data--number,
.cell-label--number {
  text-align: center;
}

.cell-data {
  &:focus, &:active {
    outline: none;
  }
}
